.txt-align {
   text-align : center;
   font-size: 22px;
   font-family: fantasy;
   margin-top:5px;
}
.mainbody {
    background-color: #E6E6EE;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
#search {
margin-left: 60px;
}
#btnView {
    padding: 6px 11px;
    margin-left: 40px;
}
.trheads {
    background-color: #272f38;
    color: white;
}